@model Guestbook.Models.CommentReply
@{
	Layout = null;
}
<hr />
<div>
	<p class="pull-right"><small>@DateTime.Now</small></p>
	<div id="commentReply_@(Model.CommentId)" class="form-inline">
		<a class="" href="#">
			<img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
		</a>
		<a href="#">@Model.Member.Username</a> @Model.ReplyMessage
	</div> 
</div>
