
@{
    Layout = null;
}

<hr />
<div>
	<p class="pull-right"><small>5 days ago</small></p>
	<a class="" href="#">
		<img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px">
	</a>
	<a href="#">hotch</a>  Wow! this is really great.

</div>